<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='contests.js') }}"></script>
</head>
<body>
<nav>
    <a href="/"><img src="{{ url_for('static', filename='images/4691584_codeforces_icon.png') }}"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>
<h2 id="subheader">Contest Graph</h2>
<div id="FilterBar">
    <label for="data_requested">Choose the desired information:</label>
    <select name="sorting" id="data_requested">
        <option value="total_solves">Solves</option>
        <option value="difficulty">Difficulty</option>
    </select>
    <label for="lowIndex">Lowest index</label>
    <input type="text" id="lowIndex" name="lowIndex" size="5" maxlength="5"/>
    <label for="highIndex">Highest index</label>
    <input type="text" id="highIndex" name="highIndex" size="5" maxlength="5"/>
    <button id="search">Search</button>
</div>
<br/>
<div class="Graph" id="chartContainer"></div>
</body>
</html>