<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <nav>
      <a href="/"><img src="{{ url_for('static', filename='images/4691584_codeforces_icon.png') }}"></a>
    </nav>
    <div id="header">
        <h1>Competitive Programming Codeforces Data</h1>
        <h2>What interesting data do you want to see today?</h2>
    </div>
    <div id="help_div">
      <a href="help">What is codeforces? What does those applications even mean?</a>
    </div>
    <div id="ButtonBar">
        <a class="button" href="users">User Finder</a>
        <a class="button" href="problems">Problem Finder</a>
        <a class="button" href="contests">Contest Graph</a>
        <a class="button" href="tags">Tags Graph</a>
        <a class="button" href="tags_intersection">Tags Intersection</a>
    </div>
</body>
</html>