<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<nav>
    <a id="logo" href="/"><img src="images/4691584_codeforces_icon.png" alt="Logo"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>

<h2 id="subheader">Tags Graph</h2>

<div class="Body">
    <div class="CheckboxBar">
        <form>
            <select name="tags" id="tags" size="25" multiple>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
                <option value="graphs">graphs</option>
            </select>
        </form>
    </div>

    <div class="Graph">
        <img src="images/simple_graph.png" alt="Graph representing the information of the tags requested">
    </div>
</div>
</body>
</html>