<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<nav>
    <a id="logo" href="/"><img src="images/4691584_codeforces_icon.png"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>
<h2 id="subheader">User Finder</h2>
<div id="FilterBar">
    <label for="searchType">By institution or country:</label>
    <select name="searchType" id="searchType">
        <option value="institution">Institution</option>
        <option value="country">Country</option>
    </select>
    <label for="name">Institution/country name:</label>
    <input type="text" id="name" name="name"/>
    <label for="lowRating">Lowest rating</label>
    <input type="text" id="lowRating" name="lowRating" size="5" maxlength="5"/>
    <label for="highRating">Highest rating</label>
    <input type="text" id="highRating" name="highRating" size="5" maxlength="5"/>
    <label for="count">Max users displayed</label>
    <input type="text" id="count" name="count" size="3" maxlength="3"/>
</div>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>Handle</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Max Rating</th>
        <th>Rank</th>
        <th>Max Rank</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Luca</td>
        <td>Luca</td>
        <td>2268</td>
        <td>2268</td>
        <td>Master</td>
        <td>Master</td>
    </tr>
    <tr>
        <td>batmendbar</td>
        <td>Batmend</td>
        <td>1974</td>
        <td>1974</td>
        <td>Candidate Master</td>
        <td>Candidate Master</td>
    </tr>
    <tr>
        <td>column</td>
        <td>Zimri</td>
        <td>409</td>
        <td>409</td>
        <td>Newbie</td>
        <td>Newbie</td>
    </tr>
    </tbody>
</table>
</body>
</html>