<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='problems.js') }}"></script>
</head>
<body>
<nav>
    <a href="/"><img src="{{ url_for('static', filename='images/4691584_codeforces_icon.png') }}"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>
<h2 id="subheader">Problem Filter</h2>
<div id="FilterBar">
    <label for="tags">Choose a tag:</label>
    <select name="Tags" id="tags"></select>
    <label for="lowRating">Lowest rating</label>
    <input type="text" id="lowRating" name="lowRating" size="5" maxlength="5"/>
    <label for="highRating">Highest rating</label>
    <input type="text" id="highRating" name="highRating" size="5" maxlength="5"/>
    <label for="count">Max problems displayed</label>
    <input type="text" id="count" name="count" size="3" maxlength="3"/>
    <button id="search">Search</button>
</div>
<br/>
<table class="table" id="problems">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Tags</th>
        <th>Solved Count</th>
    </tr>
    </thead>
</table>
</body>
</html>