<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='tags.js') }}"></script>
</head>
<body>
<nav>
    <a href="/"><img src="{{ url_for('static', filename='images/4691584_codeforces_icon.png') }}"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>

<h2 id="subheader">Tags Graph</h2>

<div class="Body">
    <div class="CheckboxBar">
        <button id="search" style="float: right; margin-left: 10px;">Search</button>
        <select name="tags" id="tags" size="15" multiple></select>
    </div>
    <div id="chartContainer" style="height: 300px; width: 60%;"/>
</div>
</body>
</html>
