<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitive Programming Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='users.js') }}"></script>
</head>
<body>
<nav>
    <a href="/"><img src="{{ url_for('static', filename='images/4691584_codeforces_icon.png') }}"></a>
    <h1 id="title">Competitive Programming Codeforces Data</h1>
</nav>
<hr>
<h2 id="subheader">User Finder</h2>
<div id="FilterBar">
    <label for="searchType">By institution or country:</label>
    <select name="searchType" id="searchType">
        <option value="institution">Institution</option>
        <option value="country">Country</option>
    </select>
    <label for="name">Institution/country name:</label>
    <input type="text" id="name" name="name"/>
    <label for="lowRating">Lowest rating</label>
    <input type="text" id="lowRating" name="lowRating" size="5" maxlength="5"/>
    <label for="highRating">Highest rating</label>
    <input type="text" id="highRating" name="highRating" size="5" maxlength="5"/>
    <label for="count">Max users displayed</label>
    <input type="text" id="count" name="count" size="3" maxlength="3"/>
    <button id="search">Search</button>
</div>
<br/>
<table class="table" id="users">
    <thead>
    <tr>
        <th>Handle</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Max Rating</th>
        <th>Rank</th>
        <th>Max Rank</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>
